[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==19.9.0"
psycopg2 = "==2.8.3"
django-google-maps = "==0.11.0"
django-mptt = "==0.10.0"
django-widget-tweaks = "==1.4.5"
django-filter = "==2.2.0"
django-tables2 = "==2.1.1"
djangorestframework = "==3.10.3"
django-phonenumber-field = "==4.0.0"
phonenumbers = "==8.11.1"
django-bootstrap-datepicker-plus = "==3.0.5"
django-taggit = "==1.2.0"
django-extensions = "*"
pygraphviz = "*"
Pillow = "==6.1.0"
Django = "==2.2.5"
djangorestframework-recursive = "==0.1.2"
django-taggit-serializer = "==0.1.7"
python-slugify = "==4.0.0"
pydot = "*"

[requires]
python_version = "3.6"
