
<div class="form-group">
  <div class="form-row">
    <div class="col-md-3">
      <div class="form-label-group">
        <input type="text" id="productmaterial" class="form-control"  disabled="disabled"
          value="{{ object.offer.product.wallet.get_material_display   }}" >
        <label for="productmaterial">Material</label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-label-group">
        <input type="text" id="productcolor" class="form-control"  disabled="disabled"
          value="{{ object.offer.wallet.get_color_display  }}" >
        <label for="productcolor">Color</label>
      </div>
    </div>
  </div>
</div>
