{% load widget_tweaks %}

<div class="col-md-3">
  {% if label %}
    <label>{{label}}</label>
  {% endif %}
  <select name = 'water_resistance' class="custom-select my-1 mr-sm-3" id="water_resistance_id">
    {% if product %}
      <option value="{{ product.water_resistance}}">{{ product.get_water_resistance_display }}</option>
    {% else %}
      <option value="">--Water resistance</option>
    {% endif %}
  {% for x, y in field.choices %}
    <option value="{{ x }}">{{ y }}</option>
  {% endfor %}
  </select>
</div>
