{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
  <h4 class="display-4">
    Distributed Mall
  </h4>
  <br/>
  <p class="text-justify">
    Distributed Mall is an online platform that will allow "small" 
    independent retailers to enter into trade "alliances" in order to achieve economies 
    of scale and provide innovative digital services, such as:
  </p>
  <ol type="i">
    <li> Central electronic repository (accessible via web interface) of offered products and services.</li><br />
    <li> Ability to search for products based on location (user) / distance (user-store) through a mobile application (location-based product search).</li><br />
    <li> Coalition loyalty programs (joint loyalty programs or joint loyalty programs).</li><br />
  </ol>
</div>
{% endblock body %}
