{% extends "base.html" %}

{% block body %}

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Change password</div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" class="form-control" id="inputOldPassword" name="old_password" placeholder="Old password"
                        required="required">
                <label for="inputOldPassword">Old password</label>
              </div>
              {% if form.old_password.errors %}
                <div class="alert alert-warning">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  <strong>{{ form.old_password.errors }}</strong>
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" class="form-control"id="inputNewPassword"
                        name="new_password1" placeholder="New password"
                        required="required" >
                <label for="inputNewPassword">New password</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="password" class="form-control"id="confirmNewPassword"
                        name="new_password2" placeholder="Confirm new password"
                        required="required" >
                <label for="confirmNewPassword">Confirm new password</label>
              </div>
            {% if form.new_password2.errors %}
              <div class="alert alert-warning">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <strong>{{ form.new_password2.errors }}</strong>
              </div>
            {% endif %}
          </div>
            <button type="submit" class="btn btn-primary btn-block">Save</button>
          </form>
        </div>
      </div>
    </div>

{% endblock body %}
